---
interface Props {
  title: string;
  body: string;
  hrefIMG: string;
  dateTime: string;
}

const { hrefIMG, body, dateTime, title } = Astro.props;
---

<div
  class="ml-3 bg-white w-56 h-60 mt-3 hover:animate-heartbeat hover:bg-black hover:text-white"
>
  <div class="h-36">
    <img class="w-full h-full object-cover" src={hrefIMG} alt="Imagen" />
  </div>
  <div class="">
    <h3 class="text-center font-bold text-lg">{title}</h3>
    <p class="text-justify text-sm mt-1 truncate overflow-hidden m-1">{body}</p>
    <h6 class="text-xs mt-5 m-1">{dateTime}</h6>
  </div>
</div>
