---
interface Props {
  title: string;
  body: string;
  hrefIMG: string;
  dateTime: string;
}

const { hrefIMG, body, dateTime, title } = Astro.props;
---
<a href="/Blog/blogDetail">
  <div
  class="ml-3 bg-white w-72 w-min-40 h-64 mt-3 hover:animate-heartbeat box-content shadow-lg shadow-black rounded-sm">
  <div class="h-44">
    <img class="w-full w-min0 h-full object-cover rounded-sm" src={hrefIMG} alt="Imagen" />
  </div>
  <div class="">
    <h3 class="text-center font-bold text-lg">{title}</h3>
    <div class="h-full">
      <p class="h-4 text-justify text-[12px] mt-1 truncate overflow-hidden m-1 mb-3">{body}</p>
    </div>
    <h6 class="text-[10px] my-auto m-1">{dateTime}</h6>
  </div>
</div>
</a>
