---
import Lupa from "../../../public/images/Buscador/Lupa.png";
---

<section class="">
  <div
    class="flex bg-white rounded-3xl justify-between my-3 border-2 gap-0 border-black w-[268px]"
  >
    <input
      type="text"
      name=""
      id="Buscador1"
      placeholder="Buscar"
      class="px-2 rounded-l-full outline-none w-[224px]"
    />
    <label for="Buscador1">
      <div class="py-1 px-3 rounded-r-full cursor-pointer">
        <img src={Lupa.src} alt="" class="h-5 w-5" />
      </div>
    </label>
  </div>
</section>
