---
import Buso from "../../../public/images/NavCategorias/Buso.svg";
import Camisa from "../../../public/images/NavCategorias/Camisa.svg";
import Gorra from "../../../public/images/NavCategorias/Gorra.svg";
import Moto from "../../../public/images/NavCategorias/Moto.svg";
---

<nav class="bg-black">
  <div class="py-4">
    <h2 class="text-white font-semibold text-4xl text-center">CATEGORÍAS</h2>
  </div>
  <div class="flex gap-5 pb-4 justify-center border-b-2 border-fondo">
    <a href=""><img src={Moto.src} alt="" /></a>
    <a href=""><img src={Camisa.src} alt="" /></a>
    <a href=""><img src={Buso.src} alt="" /></a>
    <a href=""><img src={Gorra.src} alt="" /></a>
  </div>
</nav>
