---
import Layout from "../layouts/Layout.astro";
import fondo from "../../public/images/fondo.jpg";
import frame from "../../public/images/frame.svg";
import NavBar from "../components/NavBar.astro";
import Redes from "../components/RedesSociales.astro";
import imageHome from "../../public/images/imageHome.svg";
import Footer from "../components/Footer.astro";
import Typing from "@/components/ui/typing-animation"
---

<Layout title="Home.">
  <section class="relative h-screen">
    <NavBar />
    <img
      src={fondo.src}
      alt=""
      class="absolute object-cover object-top h-screen w-screen"
    />
    <img
      src={frame.src}
      alt=""
      class="absolute object-cover -bottom-1 w-screen h-28 z-10 inset-x-0"
    />
    <div class="absolute z-10 w-screen">
      <p
        class="mt-96 text-center text-white text-lg font-semibold md:text-4xl animate-blurred-fade-in md:mt-72 lg:mt-96"
      >
    </p>
    <Typing className="text-white " text="WELCOME TO MY WEB SITE" duration={200} client:load></Typing>
    </div>
    <Redes />
  </section>
  <section class="">
    <div class="flex flex-wrap w-72 md:w-[800px] my-20 m-auto justify-between">
      <div class="">
        <img
          src={imageHome.src}
          alt=""
          class="object-cover hover:animate-float"
        />
      </div>
      <div class="w-72 md:w-[400px] flex items-center flex-wrap justify-center">
        <p class="justify text-pretty">
          ¡Hola! Soy Alex, un apasionado por las motos, las historias y la buena
          compañía. En Amigos, Motos e Historias comparto mis aventuras sobre
          dos ruedas y las de otros moteros que, como yo, viven la libertad de
          la carretera. Aquí también encontrarás productos para apoyar la página
          y una sección de motos en venta. Si tienes una historia que contar o
          una moto que quieras publicar, no dudes en contactarme. ¡La comunidad
          motera siempre tiene un espacio aquí!
          <div class="items-center object-center">
            <a
              href="/Blog"
              class="bg-[#0A090990] rounded-2xl py-1 px-4 item-center inline-block mt-5 hover:bg-[#0A0909] hover:text-white md:text-xl hover:animate-jelly"
            >
              MI BLOG
            </a>
          </div>
        </p>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
