---
import Layout from '../layouts/Layout.astro';
import Card from '../components/CardPost.astro';
import fondo from '../../public/images/fondo.jpg'
import NavBar from '../components/NavBar.astro';
---


<Layout title="Home.">
	<NavBar/>
	<section class="">
		<img src={fondo.src} alt="" class="top-0 fixed w-screen h-screen">
	</section>
	<section>
		<div>
			<h2>Hola</h2>
		</div>
	</section>
</Layout>

