---
import Logo from "../../public/images/Logo.jpg";
import imageFooter from "../../public/images/Footer.png";
---

<div class="hidden md:block">
  <img src={imageFooter.src} alt="" class="w-screen -ml-1" />
</div>
<div class="w-screen bg-black h-32"></div>
