---
import logo from "../../public/images/Logo.jpg";
---

<nav
  class="flex items-center bg-transparent py-2 px-2 text-black text-xs md:text-lg font-extrabold justify-between z-20 absolute w-screen"
>
  <div>
    <img src={logo.src} alt="" class="w-14 rounded-full mr-5" />
  </div>
  <div class="md:mr-8">
    <ul class="flex gap-2">
      <li class="py-2 px-1 hover:bg-nav rounded-xl hover:animate-jelly"><a href="/">HOME</a></li>
      <li class="py-2 px-1 hover:bg-nav rounded-xl hover:animate-jelly">
        <a href="/Blog">BLOG</a>
      </li>
      <li class="py-2 px-1 hover:bg-nav rounded-xl hover:animate-jelly">
        <a href="/Tienda">TIENDA</a>
      </li>
    </ul>
  </div>
</nav>
