---
import logo from '../../public/images/Logo.jpg'
---
<nav class="flex items-center justify-between bg-transparent py-2 px-6 text-black text-sm font-bold ">
    <img src={logo.src} alt="" class="w-10 rounded-full ml-10  ">
    <ul class="flex space-x-6 mx-10 ">
        <li><a href="">HOME</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">TIENDA</a></li>
        <li><a href="">CONTACTO</a></li>
    </ul>
</nav>


