---
import Layout from "../../layouts/Layout.astro";
import CardRopaDetail from "../../components/TiendaComponents/CardRopaDetail.astro";
const Camisa = "../../../public/images/camisaVerde.png";
---

<Layout title="Tienda-Ropa-Detail">
  <div class="flex items-center justify-center xl:h-screen w-screen">
    <div class="bg-white h-5/6 w-5/6">
      <CardRopaDetail
        hrefIMG={Camisa}
        title="CAMISA VERDE"
        precio="$80.000"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vero, asperiores dolore, repellat sapiente voluptate, quas architecto odio error fugiat qui nihil numquam tenetur doloremque. Voluptate reprehenderit molestiae, corporis voluptatibus cumque architecto porro repudiandae esse eveniet adipisci doloribus. Dolore tempore earum amet, saepe asperiores quasi temporibus omnis beatae consequuntur non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vero, asperiores dolore, repellat sapiente voluptate, quas architecto odio error fugiat qui nihil numquam tenetur doloremque. Voluptate reprehenderit molestiae, corporis voluptatibus cumque architecto porro repudiandae esse eveniet adipisci doloribus. Dolore tempore earum amet, saepe asperiores quasi temporibus omnis beatae consequuntur non."
      />
    </div>
  </div>
</Layout>
